*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.login{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.form-login{
    padding: 3rem 3rem 0rem 3rem;
    border-radius: 1rem;
    background-color: rgb(49, 46, 46);
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}

.fieldset-login{
    padding: 1rem;
    width: 20rem;


}

label{
    color: aliceblue;
    font-size: 1.2rem;
    font-weight: bold;
}

.container-btn-login{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 7rem;
}

.btn{
    height: 2.3rem;
    width: 6rem;
}

legend{
    color: rgb(209, 200, 200);
    font-size: 1.4rem;
}

.container-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}